
// Class PongGame

// Subroutine constructor new
function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0

// Do statement
call Screen.clearScreen 0
pop temp 0

// Let statement
push constant 50
pop this 6

// Let statement
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0

// Let statement
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1

// Do statement
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0

// Do statement
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0

// Do statement
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0

// Do statement
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0

// Let statement
push constant 0
pop this 3

// Let statement
push constant 0
pop this 4

// Let statement
push constant 0
pop this 2

// Let statement
push constant 0
pop this 5

// Return statement
push pointer 0
return

// Subroutine method dispose
function PongGame.dispose 0
push argument 0
pop pointer 0

// Do statement
push this 0
call Bat.dispose 1
pop temp 0

// Do statement
push this 1
call Ball.dispose 1
pop temp 0

// Do statement
push pointer 0
call Memory.deAlloc 1
pop temp 0

// Return statement
push constant 0
return

// Subroutine function newInstance
function PongGame.newInstance 0

// Let statement
call PongGame.new 0
pop static 0

// Return statement
push constant 0
return

// Subroutine function getInstance
function PongGame.getInstance 0

// Return statement
push static 0
return

// Subroutine method run
function PongGame.run 1
push argument 0
pop pointer 0

// While statement
label PongGame.while.1.L1
push this 3
not
not
if-goto PongGame.while.1.L2

// While statement
label PongGame.while.2.L1
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto PongGame.while.2.L2

// Let statement
call Keyboard.keyPressed 0
pop local 0

// Do statement
push this 0
call Bat.move 1
pop temp 0

// Do statement
push pointer 0
call PongGame.moveBall 1
pop temp 0

// Do statement
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame.while.2.L1
label PongGame.while.2.L2

// If statement
push local 0
push constant 130
eq
not
if-goto PongGame.if.3.L1

// Do statement
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto PongGame.if.3.L2
label PongGame.if.3.L1

// Else statement

// If statement
push local 0
push constant 132
eq
not
if-goto PongGame.if.4.L1

// Do statement
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto PongGame.if.4.L2
label PongGame.if.4.L1

// Else statement

// If statement
push local 0
push constant 140
eq
not
if-goto PongGame.if.5.L1

// Let statement
push constant 1
neg
pop this 3
goto PongGame.if.5.L2
label PongGame.if.5.L1
label PongGame.if.5.L2
label PongGame.if.4.L2
label PongGame.if.3.L2

// While statement
label PongGame.while.6.L1
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto PongGame.while.6.L2

// Let statement
call Keyboard.keyPressed 0
pop local 0

// Do statement
push this 0
call Bat.move 1
pop temp 0

// Do statement
push pointer 0
call PongGame.moveBall 1
pop temp 0

// Do statement
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame.while.6.L1
label PongGame.while.6.L2
goto PongGame.while.1.L1
label PongGame.while.1.L2

// If statement
push this 3
not
if-goto PongGame.if.7.L1

// Do statement
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0

// Do statement
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto PongGame.if.7.L2
label PongGame.if.7.L1
label PongGame.if.7.L2

// Return statement
push constant 0
return

// Subroutine method moveBall
function PongGame.moveBall 5
push argument 0
pop pointer 0

// Let statement
push this 1
call Ball.move 1
pop this 2

// If statement
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto PongGame.if.8.L1

// Let statement
push this 2
pop this 5

// Let statement
push constant 0
pop local 0

// Let statement
push this 0
call Bat.getLeft 1
pop local 1

// Let statement
push this 0
call Bat.getRight 1
pop local 2

// Let statement
push this 1
call Ball.getLeft 1
pop local 3

// Let statement
push this 1
call Ball.getRight 1
pop local 4

// If statement
push this 2
push constant 4
eq
not
if-goto PongGame.if.9.L1

// Let statement
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3

// If statement
push this 3
not
not
if-goto PongGame.if.10.L1

// If statement
push local 4
push local 1
push constant 10
add
lt
not
if-goto PongGame.if.11.L1

// Let statement
push constant 1
neg
pop local 0
goto PongGame.if.11.L2
label PongGame.if.11.L1

// Else statement

// If statement
push local 3
push local 2
push constant 10
sub
gt
not
if-goto PongGame.if.12.L1

// Let statement
push constant 1
pop local 0
goto PongGame.if.12.L2
label PongGame.if.12.L1
label PongGame.if.12.L2
label PongGame.if.11.L2

// Let statement
push this 6
push constant 2
sub
pop this 6

// Do statement
push this 0
push this 6
call Bat.setWidth 2
pop temp 0

// Let statement
push this 4
push constant 1
add
pop this 4

// Do statement
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0

// Do statement
push this 4
call Output.printInt 1
pop temp 0
goto PongGame.if.10.L2
label PongGame.if.10.L1
label PongGame.if.10.L2
goto PongGame.if.9.L2
label PongGame.if.9.L1
label PongGame.if.9.L2

// Do statement
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto PongGame.if.8.L2
label PongGame.if.8.L1
label PongGame.if.8.L2

// Return statement
push constant 0
return
